<div class="container">
<footer>
    <div class="footer-wrapper">
      <a href="#home">
        <img src="/assets/logo-footer.svg" alt="logo" class="footer-brand" width="130">
      </a>
      <div class="social-link">
        <a href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="#">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
      </div>
    </div>
  </footer>
</div>