<div class="container">
<main>
    <section class="home" id="home">
      <div class="home-left">
        <h1 class="main-heading">We do not cook, we create your emotions!</h1>
        <p class="home-text">
          <q><i>The only way to get rid of a temptation is to yield to it.</i></q>
          - <b>Oscar Wilde</b>
        </p>
        <div class="btn-group">
          <button class="btn btn-primary btn-icon">
            <a href="#menu">
              <img src="/assets/menu.svg" alt="menu icon">
            </a>  
            Menu            
          </button>
          <button class="btn btn-secondary btn-icon">
            <a href="/reserve">
            <img src="/assets/arrow.svg" alt="menu icon"> </a>
            Reserve a Table
          </button>
        </div>
      </div>
      <div class="home-right">
        <img src="/assets/food1.png" alt="food image" class="food-img food-1" width="200" loading="lazy">
        <img src="/assets/food2.png" alt="food image" class="food-img food-2" width="200" loading="lazy">
        <img src="/assets/food3.png" alt="food image" class="food-img food-3" width="200" loading="lazy">
        <img src="/assets/dialog-1.svg" alt="dialog" class="dialog dialog-1" width="230">
        <img src="/assets/dialog-2.svg" alt="dialog" class="dialog dialog-2" width="230">
        <img src="/assets/circle.svg" alt="circle shape" class="shape shape-1" width="25">
        <img src="/assets/circle.svg" alt="circle shape" class="shape shape-2" width="15">
        <img src="/assets/circle.svg" alt="circle shape" class="shape shape-3" width="30">
        <img src="/assets/ring.svg" alt="ring shape" class="shape shape-4" width="60">
        <img src="/assets/ring.svg" alt="ring shape" class="shape shape-5" width="40">
      </div>
    </section>

    <section class="about" id="about">
      <div class="about-left">
        <div class="img-box">
          <img src="/assets/about-image.jpg" alt="about image" class="about-img" width="250">
        </div>
        <div class="abs-content-box">
          <div class="dotted-border">
            <p class="number-lg">20+</p>
            <p class="text-md">Years <br> Experience</p>
          </div>
        </div>
        <img src="/assets/circle.svg" alt="circle shape" class="shape shape-6" width="20">
        <img src="/assets/circle.svg" alt="circle shape" class="shape shape-7" width="30">
        <img src="/assets/ring.svg" alt="ring shape" class="shape shape-8" width="35">
        <img src="/assets/ring.svg" alt="ring shape" class="shape shape-9" width="80">
      </div>
      <div class="about-right">
        <h2 class="section-title">We are doing more than
          you expect ...</h2>
        <p class="section-text">
          Embark on a culinary journey at an establishment where culinary mastery harmonizes with refined ambiance. 
          Tucked away in an enclave of sophistication, this venue is a celebration of exquisite tastes and timeless allure.
          Step into an oasis of modern charm, where ambient lighting and contemporary 
          design create an atmosphere seamlessly blending chic aesthetics with comfort. This destination
          transcends mere dining; it's a haven for those who appreciate life's finer nuances.
        </p>

        <p class="section-text">
          "Exceptional dining is an art form," and here, it is mastered. 
          The attentive staff is dedicated to ensuring each moment becomes a cherished memory. 
          Impeccable service, meticulous attention to detail, and a curated selection of wines enhance
           the pleasure of your culinary exploration.
        </p>

        <img src="/assets/signature.png" alt="signature" class="signature" width="150">
      </div>

    </section>

    <section class="services" id="services">
      <div class="service-card">
        <p class="card-number">01</p>
        <h3 class="card-heading">We are located in the city center</h3>
        <p class="card-text">
          Discover culinary excellence in the heart of the city center, 
          where our restaurant stands as a vibrant hub for exquisite dining experiences.
        </p>
      </div>
      <div class="service-card">
        <p class="card-number">02</p>
        <h3 class="card-heading">Fresh ingredients from organic farms</h3>
        <p class="card-text">
          Immerse yourself in a world of flavors with our commitment to using only 
          the freshest organic ingredients sourced directly from local farms,
           ensuring every dish is a celebration of nature's bounty.
        </p>
      </div>
      <div class="service-card">
        <p class="card-number">03</p>
        <h3 class="card-heading">Own fast delivery. 30 min Maximum</h3>
        <p class="card-text">
          Experience the convenience of our own fast delivery service, promising a maximum 30-minute delivery time. 
          Delight in gourmet meals from our kitchen to your doorstep with the speed and efficiency you deserve.
        </p>
      </div>
      <div class="service-card">
        <p class="card-number">04</p>
        <h3 class="card-heading">Professional, experienced chefs</h3>
        <p class="card-text">
          Indulge in creations by our professional and experienced chefs,
           whose culinary expertise transforms fresh ingredients into masterpieces 
           that tantalize the taste buds and leave a lasting impression.
        </p>
      </div>
      <div class="service-card">
        <p class="card-number">05</p>
        <h3 class="card-heading">The highest standards of service</h3>
        <p class="card-text">
          Elevate your dining experience with the highest standards of service. From the moment you step in, 
          our dedicated team ensures a seamless and memorable visit, reflecting our unwavering commitment to hospitality excellence..
        </p>
      </div>
    </section>

    <section class="product" id="menu">
      <h2 class="section-title">Most popular dishes</h2>
      <p class="section-text">
        Signature creations, Unforgettable tastes
      </p>
      <div class="products-grid">
        <a href="#">
          <div class="product-card">
            <div class="img-box">
              <img src="/assets/food1.png" alt="product image" class="product-img" width="200" loading="lazy">
            </div>
            <div class="product-content">
              <div class="wrapper">
                <h3 class="product-name">Fried Chicken</h3>
                <p class="product-price">
                  <span class="small">₹</span>200
                </p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="product-card">
            <div class="img-box">
              <img src="/assets/menu2.png" alt="product image" class="product-img" width="200" height="100%" loading="lazy">
            </div>
            <div class="product-content">
              <div class="wrapper">
                <h3 class="product-name">Grilled Chicken</h3>

                <p class="product-price">
                  <span class="small">₹</span>300
                </p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="product-card">
            <div class="img-box">
              <img src="/assets/menu3.png" alt="product image" class="product-img" width="200" loading="lazy">
            </div>
            <div class="product-content">
              <div class="wrapper">
                <h3 class="product-name">Chicken Briyani</h3>

                <p class="product-price">
                  <span class="small">₹</span>250
                </p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="product-card">
            <div class="img-box">
              <img src="/assets/menu4.jpg" alt="product image" class="product-img" width="200" loading="lazy">
              <div class="card-badge red">
                <ion-icon name="flame"></ion-icon>
                <p>Hot</p>
              </div>
            </div>
            <div class="product-content">
              <div class="wrapper">
                <h3 class="product-name">Big Mac Burger</h3>

                <p class="product-price">
                  <span class="small">₹</span>150
                </p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="product-card">
            <div class="img-box">
              <img src="/assets/menu5.jpg" alt="product image" class="product-img" width="200" loading="lazy">
              <div class="card-badge green">
                <ion-icon name="leaf"></ion-icon>
                <p>Vegan</p>
              </div>
            </div>
            <div class="product-content">

              <div class="wrapper">
                <h3 class="product-name">White Sauce Pasta</h3>

                <p class="product-price">
                  <span class="small">₹</span>300
                </p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="product-card">
            <div class="img-box">
              <img src="/assets/menu6.jpg" alt="product image" class="product-img" width="200" loading="lazy">
            </div>
            <div class="product-content">
              <div class="wrapper">
                <h3 class="product-name">Paneer Fried Rice</h3>
                <p class="product-price">
                  <span class="small">₹</span>150
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
        <br><br>
      <button class="btn btn-primary btn-icon">
        <img src="/assets/menu.svg" alt="menu icon">
        Full menu
      </button>

    </section>

    <section class="testimonials" id="testimonials">

      <h2 class="section-title">What do our customers say?</h2>

      <p class="section-text">
        Hear directly from our own customers.
      </p>

      <div class="testimonials-grid">

        <div class="testimonials-card">

          <h4 class="card-title">Very tasty</h4>

          <div class="testimonials-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>

          <p class="testimonials-text">
            Dining at this restaurant was an absolute delight - the food was exceptionally tasty,
             showcasing a perfect fusion of flavors. Every dish served was a testament to the chef's expertise, 
             leaving our taste buds thoroughly impressed. 
            A culinary experience here promises a symphony of delectable flavors that lingers long after the last bite.
          </p>

          <div class="customer-info">
            <div class="customer-img-box">
              <img src="/assets/testimonials1.jpg" alt="customer image" class="customer-img" width="100" loading="lazy">
            </div>

            <h5 class="customer-name">Gwen Stacy</h5>
          </div>

        </div>

        <div class="testimonials-card">
        
          <h4 class="card-title">I have lunch here every day</h4>
        
          <div class="testimonials-rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
        
          <p class="testimonials-text">
            I find myself drawn to this culinary haven every day for lunch, and 
            each visit is a delightful experience. From the impeccable service to the consistently 
            exceptional dishes, this restaurant has become my daily retreat. 
            A haven where the flavors are as comforting as the ambiance, making it an indispensable part of my daily routine.
          </p>
        
          <div class="customer-info">
            <div class="customer-img-box">
              <img src="/assets/testimonials2.png" alt="customer image" class="customer-img" width="100" loading="lazy">
            </div>
        
            <h5 class="customer-name">Walter White</h5>
          </div>
        
        </div>

      </div>

    </section>

  </main>
</div>