<%- include('partials/header'); -%>

<form action="/signup">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email"  />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password"  />
  <div class="password error"></div>
  <p>New here? <a href="/signup">Sign up</a></p>
  <button id="mybutton1">login</button>
</form>


<script>
  'use strict';
     // navbar variables
     const nav = document.querySelector('.navbar-nav');
    const navLinks = document.querySelectorAll('.nav-link');
    const navToggleBtn = document.querySelector('.menu-toggle-btn');
    const shoppingCart = document.querySelector('.cart-box');
    // nav toggle function
    const navToggleFunc = function () {
      nav.classList.toggle('active');
      navToggleBtn.classList.toggle('active');
    }
    // add event on nav-toggle-btn
    navToggleBtn.addEventListener('click', function () {
      if (shoppingCart.classList.contains('active')) cartToggleFunc();
      navToggleFunc();
    });
    // add event on all nav-link
    for (let i = 0; i < navLinks.length; i++) {
      navLinks[i].addEventListener('click', navToggleFunc);
    }
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }
  });
</script>